.overlay {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.align-center {
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

.white-three {
    font-size: 3em;
    color: white;
}

.white {
    color: white;
}

.fifteen {
    font-size: 15em;
}

.spinner-grow {
    margin-right: 10px;
    margin-left: 10px;
    color: cornflowerblue;
}