.section-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-heading h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5ebf2;
    border-top: 1px solid #e5ebf2;
}