<div class="section-heading text-center">
    <h2>few words about me</h2>
</div>
<div class="about-content">
    <div class="row">
        <div class="col-sm-6 single-about-txt">
            <h3>
                I'm programmer which is looking for new challanges.
            </h3>
            <p>
                I like to go beyond own limits. Each day I want to know more than at previous day and ask myself question for the next day.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-add-info">
                        <h3>phone</h3>
                        <p>514 810 358</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="single-about-add-info">
                        <h3>email</h3>
                        <p>karol.kkot@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <div class="single-about-img">
                <img src="assets/images/profile_image.jpg" alt="profile_image">
                <div class="about-list-icon">
                    <a href="https://www.facebook.com/karol.kot.37?ref=bookmarks">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/karol-kot-68653a150/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 10px;"></div>