textarea {
    margin-top: 10px;
    height: 100px;
}

h4 {
    text-align: center;
    color: cornflowerblue;
}

.btn.btn-primary {
    margin-top: 10px;
    width: 100%;
}

.d-flex.justify-content-center {
    margin-top: 10px;
}

.comment {
    font-size: 16px;
}