<div class="row">
    <div class="col col-3 my-auto">
        <button *ngIf="authService.isAuthenticated()" class="btn btn-secondary" (click)="goToEdit()">Edit</button>
    </div>
    <div class="col col-6 text-center my-auto">
        <h3 class="cornflowerblue-text">{{post.title}}</h3>
        <small class="light-grey-text">{{post.creationDate | date: 'dd LLLL yyyy'}}</small>
    </div>
    <div class="col col-3 my-auto">
        <button *ngIf="authService.isAuthenticated()" class="btn btn-danger float-right" (click)="showDialog()">Delete</button>
    </div>
</div>
<hr />
<div class="post-details">
    <div [innerHTML]="post.content">
    </div>
</div>
<app-confirm-dialog></app-confirm-dialog>